
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.bg-secondary{
    color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #7f7f7f;
}
.sectiion-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: #FFF8F3;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
   
}
nav ul{
    display: flex;
    align-items: center;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
   margin-bottom: 30px;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: -20px;
    
}
.banner-description{
    font-size: 18px;
    font-weight:400;
    color: #757575;
    margin-top:-30px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
}
.btn-primary1{
    color:#FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 35px;
    border:2px solid #FD6E0A;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 3px 0px 210px;
}

main{
    max-width: 1140px;
    margin:130px auto;
} 
.about{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;  
    background-color: #FFF8F3; 
}
    
.about-items{
   display: flex;
   justify-content: space-around;
   padding-top: 30px;

}
.item-title{
    color: #575757;
    font-size: 20px;
    font-weight: 400;
}
.item-description{
    color:#181818;
    font-weight: 700;
}
/*what i do section start*/

.skills{
    max-width: 1140px;
    text-align: center;
    margin-top: 130px;

}
.section-title{
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    padding: 0px 50px;
}

/*what i do box design start*/
.skills-container{
    display: flex;
    margin-top: 50px;
}

.skill{
   text-align: left;
   padding:30px;
   border:2px solid rgb(200, 200, 200);
   border-radius: 10px;
   box-shadow: 6px 6px 6px rgb(212, 211, 211);
   margin-right: 24px;
   border-bottom: 10px;
   background-color: #fefefe;
   
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
/*resume start*/
.resume{
    text-align: center;
    margin-top: 130px;
    color: #181818;
}

.resume-container{
    display: flex;
    text-align: left;
    margin-top: 110px;
    gap: 25px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience{
    padding: 0px 0px 12px 0px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: #757575;
}
.experience-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
     
}
.button-center{
    text-align: center;
    margin-top: 30px;
}
.button-primary{
    background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 20px 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    
}
.button-primary:hover{
 background-color: rgb(45, 196, 198);
 color: #ffffff;
}

/*footer section*/

.bg-color{
   background-color: #FFF8F3; 
}
.footer-section{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    
}
.input-area{
    display:block;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}